<section class="container-fluid bg-body-tertiary" id="aboutus">
    <div class="p-2 p-md-5">
        <div class="row rounded-3">
            <div class="col">
                <div class="row text-center">
                    <div class="text-center my-3">
                        <img src="assets/images/logo/logo_blue.png" class="img-fluid" style="width: 6rem;" alt="neurodetecai_logo">
                    </div>
                    <h2 class="display-5 fw-medium text-head-blue-1">¿Qué es NeuroDetectAI?</h2>
                    <p class="text-p-1 fs-4 my-3">
                        <b>NeuroDetectAI</b> es una plataforma que ofrece software potenciado por inteligencia artificial con el proósito de
                        detectar trastornos de neurodesarrollo a través de la interpretación de distintos biomarcadores y de la experiencia médica.
                    </p>
                </div>
                <div class="row my-5">
                    <div class="col-12 col-md-6">
                        <div class="row px-2 px-md-5 mb-5 mb-md-0">
                            <div class="col-12 col-md-2">
                                <img src="assets/images/idea.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-12 col-md-10 text-sm-center">
                                <h2 class="display-6 fw-medium text-head-blue-1">¿Cómo funciona?</h2>
                                <p class="text-p-1 fs-5 mt-3">
                                    Nuestras distintas soluciones funcionan a través de la interpretación de distintos biomarcadores y de la 
                                    experiencia médica. Cada solución recibe los datos del paciente y los procesa a través de algoritmos 
                                    de inteligencia artificial para ofrecer un diagnóstico.
                                </p>
                                <button type="button" class="btn btn-blue border-2 shadow rounded-5 px-4 py-2 mt-3 fs-5 fw-semibold">
                                    Soluciones
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="row px-2 px-md-5 mb-5 mb-md-0">
                            <div class="col-12 col-md-2">
                                <img src="assets/images/algorithm.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-12 col-md-10">
                                <h2 class="display-6 fw-medium text-head-blue-1">¿Por qué elegirnos?</h2>
                                <p class="text-p-1 fs-5 mt-3">
                                    Nuestra plataforma que ofrece varias soluciones de software especializado y potenciado por inteligencia 
                                    artificial con el propósito de detectar trastornos de neurodesarrollo y ofrecer un mejor entorno de desarrollo 
                                    para los pacientes.
                                </p>
                                <button type="button" class="btn btn-blue border-2 shadow rounded-5 px-4 py-2 mt-3 fs-5 fw-semibold">
                                    Testimonios
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</section>